<h1> From controller </h1>
<%= "Galaxy::MilkyWay::Engine.routes.url_helpers.planet_path(:earth) - - > #{Galaxy::MilkyWay::Engine.routes.url_helpers.planet_path(:earth)}" %> 
<br>
<%= "galaxy_milky_way.planet_path(:earth) - - - - - - - - - - - - - - - - - - - - - - - > #{galaxy_milky_way.planet_path(:earth)}" %> 

